<div class="flex">
    <div class="button-container">
        <button type="button" *ngIf="page > 1" (click)="onPageLeft()">
            <fa-icon [icon]="leftNav" aria-label="navigates to the previous page"></fa-icon>
        </button>
        <button type="button" class="nav-button" (click)="onPageRight()" [disabled]="!canPageRight">
            <fa-icon [icon]="rightNav" aria-label="navigates to the next page"></fa-icon>
        </button>
        <div>
            <label>{{pageItems}} {{'OF' | translate}} {{totalItems}}</label>
        </div>
    </div>
</div>