.c-design {
    padding: 0 1rem 1rem;
    border-bottom: 1px solid lightgray;
}

.mini {
    width: 40rem;
    height: 12rem;
}

.mini:hover {
    background-color: aliceblue;
    cursor: pointer;
}

.normal {
    width: 80rem;
    height: 12rem;
}

.focused {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 1rem;
}

.d-flex {
    display: flex;
}

.row-p {
    padding: 0.5rem 1.5rem;
}

.flex-grow {
    flex-grow: 1;
}

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 5px;
}

.view-message-container {
    display: flex;
    justify-content: center;
}

.view-message {
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.unread::before {
    vertical-align: text-top;
    text-align: right;
    content: "\2022";
    color: dodgerblue;
    font-size: 2rem;
    margin-right: 1rem;
}

@media screen and (max-width: 859px) {
    .normal {
        width: 60rem;
        height: 12rem;
    }
}

@media screen and (max-width: 674px) {
    .normal {
        width: 40rem;
        height: 12rem;
    }
}