<div *ngIf="notification" class="c-design" [ngClass]="sizeMini ? 'mini' : 'normal'">
    <div class="n-header">
        <h5 [ngClass]="{'unread': !notification.read}">{{notificationHeader}}</h5>
        <h6>{{notification.sent | date:'short'}}</h6>
    </div>

    <p>{{notification.message}}</p>

    <div class="action-container">
        <button class="btn btn-outline" *ngIf="!notification.read" (click)="markAsRead()">{{'MARK_AS_READ' | translate}}</button>
        <div *ngIf="notification.actionRequired && notification?.notificationType == notificationType.FriendRequest
            || notification?.notificationType == notificationType.GameRequest">
            <button class="btn btn-outline" (click)="action(false)">{{'DENY' | translate}}</button>
            <button class="btn btn-outline" (click)="action(true)">{{'CONFIRM' | translate}}</button>
        </div>

        <div class="view-message-container" *ngIf="notification?.notificationType == notificationType.SocialMessage">
            <button class="btn btn-link view-message ">{{'VIEW_MESSAGE' | translate}}</button>
        </div>
    </div>
</div>