<div *ngIf="notification" class="c-design" [ngClass]="[sizeMini ? 'mini' : 'normal', focused ? 'focused' : '']">

    <div class="row row-p d-flex">
        <div *ngIf="!notification.read" class="col-auto unread">

        </div>

        <div class="col-auto p-0">
            <h5>{{notificationHeader}}</h5>
            <p>{{notification.message}}</p>
        </div>

        <div class="col-auto p-0 flex-grow">
            <h6 class="text-right">{{notification.sent | date:'short'}}</h6>
        </div>
    </div>

    <div class="action-container">
        <button class="btn btn-outline" *ngIf="!notification.read" (click)="markAsRead()">{{'MARK_AS_READ' |
            translate}}</button>
        <div *ngIf="notification.actionRequired && notification?.notificationType == notificationType.FriendRequest
            || notification?.notificationType == notificationType.GameRequest">
            <button class="btn btn-outline" (click)="action(false)">{{'DENY' | translate}}</button>
            <button class="btn btn-outline" (click)="action(true)">{{'CONFIRM' | translate}}</button>
        </div>

        <div class="view-message-container" *ngIf="notification?.notificationType == notificationType.SocialMessage">
            <button class="btn btn-link view-message ">{{'VIEW_MESSAGE' | translate}}</button>
        </div>
    </div>
</div>