.c-design {
    padding: 0 1rem 1rem;
    border-bottom: 1px solid lightgray;
}

.mini {
    width: 40rem;
    height: 10rem;
}

.normal{
    width: 80rem;
    height: 10rem;
}

.n-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -7.5px;
}

.view-message-container {
    display: flex;
    justify-content: center;
}

.view-message {
    font-size: 1.2rem;
}

p {
    font-size: 1.1rem;
}

.unread::before {
    vertical-align: middle;
    content: "\2022";
    color: dodgerblue;
    font-size: 2rem;
    margin-right: 1rem;
}

/* h5::before{
    vertical-align: middle;
    content: "\2022";
    color: dodgerblue;
    font-size: 2rem;
    margin-right: 1rem;
} */