.outer{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-design{
    display: flex;
    justify-content: center;
    border: 1px lightgray solid;
    border-radius: 1rem;
    flex-direction: column;
    width: fit-content;
}

.page-nav-c{
    width: 84rem;
    margin-left: auto;
    margin-right: auto;
}

.d-text{
    margin-left: auto;
    margin-right: auto;
}

.d-text label{
    font-size: 2.8rem;
    color: lightgray;
}