<div class="outer">
    <div *ngIf="notifications.length > 0">
        <div class="container c-design">
            <div *ngFor="let notification of notifications">
                <app-notification [notification]="notification" [sizeMini]="false" [focused]="highlightedItemId == notification.id"></app-notification>
            </div>
        </div>
        <div class="page-nav-c">
            <app-page-navigation (pageChanged)="onPageChanged($event)" [page]="page" [canPageRight]="canMoveRight"
                [pageItems]="itemsViewingCount" [totalItems]="notificationsTotal"></app-page-navigation>
        </div>
    </div>

    <div class="d-text" *ngIf="!notifications || notifications.length == 0">
        <label>{{'NOTIFICATIONS_EMPTY' | translate}}</label>
    </div>
</div>