.outer{
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-design{
    display: flex;
    justify-content: center;
    border: 1px lightgray solid;
    border-radius: 1rem;
    flex-direction: column;
    width: fit-content;
}

.page-nav-c{
    width: 84rem;
    margin-left: auto;
    margin-right: auto;
}

.d-text{
    margin-left: auto;
    margin-right: auto;
}

.d-text label{
    font-size: 2.8rem;
    color: lightgray;
}

@media screen and (max-width: 859px) {
    .page-nav-c {
        width: 64rem;
    }
}

@media screen and (max-width: 674px) {
    .page-nav-c {
        width: 44rem;
    }
}
