<nav class="nav navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of[1,2,3]"></span>
            </button>
            <a class="navbar-brand">{{'WORLD_XI' | translate}}</a>
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li *ngIf="isAuthenticated" routerLinkActive="active"><a routerLink="/players">{{'PLAYERS' |
                        translate}}</a></li>
                <li *ngIf="isAuthenticated" routerLinkActive="active"><a routerLink="/team">{{'TEAM' | translate}}</a>
                </li>
                <li *ngIf="isAuthenticated" routerLinkActive="active"><a routerLink="/explore">{{'EXPLORE' |
                        translate}}</a></li>
                <li *ngIf="isAuthenticated" class="dropdown" appDropdown>
                    <a class="dropdown-toggle"><fa-icon [icon]="notificationIcon"></fa-icon>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><app-notification></app-notification></li>
                        <div class="view-all-container">
                            <button class="btn btn-link">{{'VIEW_ALL_NOTIFICATIONS' | translate}}</button>
                        </div>
                    </ul>
                </li>
                <li *ngIf="isAuthenticated" routerLinkActive="active">
                    <a routerLink="/settings">
                        <fa-icon [icon]="settingsIcon"></fa-icon>
                    </a>
                </li>
                <li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/auth">{{'LOGIN' | translate}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated"><a (click)="logout()">{{'LOGOUT' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>