:host{
    position: fixed;
    width: 100%;
    z-index: 999;
}

a{
    cursor: pointer;
}

.navbar{
    margin-bottom: 0;
}

.view-all-container{
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
}