
:host{
    position: fixed;
}

.table-mg{
    margin-top: 4rem;
}
.icon-center{
    text-align: center;
}

.absent-colour{
    color: #0096FF;
}

.pointer{
    cursor: pointer;
}

.table-img-container{
    width: 15rem;
    height: 15rem;
}


.table>tbody>tr>td {
    vertical-align: middle;
    padding: 1.5rem;
}

table.table.table-bordered.table-striped.table-mg{
    display:table-caption;
    overflow-y:auto;
    overflow-x:hidden;
    height: 55rem;
}

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

@media screen and (max-width: 1550px) {
    table.table.table-bordered.table-striped.table-mg{
        height: 45rem;
    }
}
