<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <button class="btn btn-success" type="button" routerLink="/players/new">Add Player</button>
        <h1>Available Players</h1>

        <h3 *ngIf="players.length === 0">You have no players!</h3>

        <table class="table table-bordered table-striped table-mg" *ngIf="players.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Club</th>
                    <th>Country</th>
                    <th>Position</th>
                    <th>Age</th>
                    <th>Selected</th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of players">
                    <td>{{player.firstName}} {{player.lastName}}</td>
                    <td>{{player.club}}</td>
                    <td>{{player.country}}</td>
                    <td>{{player.position}}</td>
                    <td>{{player.age}}</td>
                    <td *ngIf="player.isSelected" class="icon-center">
                        <fa-icon [icon]="selectedIcon"></fa-icon>
                    </td>
                    <td *ngIf="!player.isSelected" class="icon-center">
                        <fa-icon class="absent-colour" [icon]="absentIcon"></fa-icon>
                    </td>
                    <td><img class="table-img-container" src="{{player.imagePath}}" /></td>
                    <td class="icon-center">
                        <fa-icon class="pointer" routerLink="{{player.id}}" [icon]="openIcon"></fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>

        <app-error *ngIf="error" [(message)]="error"></app-error>

    </div>
</div>