.modify-container {
    margin-top: 1em;
    padding: 0 5rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 50rem
}

.btn-flex-center{
    display: flex;
    justify-content: center;
}

.btn-flex-left{
    display: flex;
    justify-content: left;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30rem;
    height: 25rem;
    margin: 1rem;
}

.mb-row {
    margin-bottom: 1rem;
}

.p-1{
    padding: 1rem;
}

.custom-file-input input[type="file"] {
  display: none; 
}

.file-label {
  display: inline-block;
  padding: 8px 16px;
  background-color: lightslategray;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.file-label:hover {
  background-color: lightgreen;
}

.file-name {
  margin-left: 8px;
  font-weight: 500;
}