.d-flex-justify-center{
    display: flex;
    justify-content: center;
}

h2{
    padding-top: 1rem;
}

img{
    width: 45rem;
    height: 30rem;
    margin: 1em 0;
}

.data-container{
    padding: 1em 4em;
}
.display-text{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    width:100%;
}

.player-text{
    float: right;
    font-weight: 400;
}

.btn-data{
    float: right;
}


button{
    margin: 2em .2em;
}