<div class="player-filter-container">
    <select name="playerFilter"
            id="playerFilter"
            (change)="onFilterPlayerList(filterValue.value)"
            #filterValue
            class="player-filter col-xs-6">
        <option value="">{{'PLACEHOLDE_ALL' | translate}}</option>
        <option value="{{p}}"
                *ngFor="let p of positions">
            {{'PLACEHOLDER_DYNAMIC' | translate:{param: positionService.getPositionName(p)} }}
        </option>
    </select>
</div>
<div class="global-list">
    <div *ngFor="let pos of listPositions; let p = index">
        <div class="position-header">
            <h4>{{positionService.getPositionName(pos)}}s</h4>
        </div>
        <app-players-in-position [position]="pos"
                                 [skip]="skip"
                                 [take]="take"
                                 (totalsPerPosition)="setCanPageRight($event)"></app-players-in-position>
    </div>
</div>
<app-page-navigation (pageChanged)="onPageChanged($event)"
                     [page]="page"
                     [canPageRight]="canPageRight"
                     [pageItems]="itemsViewingCount.value"
                     [totalItems]="totalPlayers"></app-page-navigation>