<div class="player-filter-container">
    <select name="playerFilter" id="playerFilter" (change)="onFilterPlayerList(filterValue.value)" #filterValue
        class="player-filter col-xs-6">
        <option value="">{{'PLACEHOLDE_ALL' | translate}}</option>
        <option value="{{p}}" *ngFor="let p of positions">
            {{'PLACEHOLDE_DYNAMIC' | translate:{param: positionService.getPositionName(p)} }}
        </option>
    </select>
</div>
<div class="global-list">
    <div *ngFor="let pos of listPositions; let p = index">
        <div class="position-header">
            <h4>{{positionService.getPositionName(pos)}}s</h4>
        </div>
        <app-players-in-position [position]="pos" [skip]="skip" [take]="take"
        (totalPerPosition)="setPageRight($event)"></app-players-in-position>
    </div>
</div>
<div class="button-container">
    <button type="button" *ngIf="page > 1" (click)="onPageLeft()">
        <fa-icon [icon]="leftNav"></fa-icon>
    </button>
    <button type="button" class="nav-button" (click)="onPageRight()" [disabled]="!canPageRight">
        <fa-icon [icon]="rightNav"></fa-icon>
    </button>
</div>