.player-filter-container {
    height: 7rem;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.player-filter {
    padding: 0.2em 0.6em;
    text-align: center;
}

.global-list{
    background-color: #f9f9f9;
    border-radius: 1em;
    border: 1px solid grey;
}

.position-header{
    padding: 0 1em;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-top: 0.5em;
}