.card {
    position: fixed;
    top: 20%;
    left: 33%;
    z-index: 1050;
    width: 33%;
    border: 1px solid black;
}


.header {
    background-color: #339BFF;
    color: white;
    padding: 0.1em 1em;
}

.body {
    background-color: white;
    padding: 2em;
}

p {
    padding: 0 2em;
    text-align: center;
    font-size: 1.2em;
}

.buttons {
    padding-top: 1.2em;
    display: flex;
    justify-content: center;
}