<div class="container c-design">
    <div class="d-flex"
         *ngIf="team">
        <div class="row">
            <h2 class="text-center">{{team.teamName}}</h2>

            <div class="col-md-9">
                <h3>{{'USERNAME' | translate}}: {{team.user.username}}</h3>
            </div>

            <div class="col-md-9">
                <h3>{{'ESTABLISHED' | translate}}: {{team.established | date}}</h3>
            </div>

            <div class="col-md-9">
                <h3>{{'WINS' | translate}}: {{team.wins}}</h3>
            </div>

            <div class="col-md-9">
                <h3>{{'LOSSES' | translate}}: {{team.losses}}</h3>
            </div>

            <div class="col-md-9">
                <h3>{{'DRAWS' | translate}}: {{team.draws}}</h3>
            </div>

            <div class="col-md-9">
                <h3>{{'TOP_SCORER' | translate}}: N/A</h3>
            </div>

            <div class="col-md-9">
                <h3>{{'MOST_VICTORIOUS' | translate}}: N/A</h3>
            </div>

            <div class="col-md-9">
                <h3>{{'BOGEY_TEAM' | translate}}: N/A</h3>
            </div>
        </div>

        <div class="row">
            <div class="button-container">
                <button *ngIf="!team.friendRequestSending && (!team.friendRequestStatus ||
                    team.friendRequestStatus == FriendRequestStatus.Rejected)"
                        class="btn btn-success"
                        (click)="addFriend()"
                        [disabled]="!isTeamDiscoverable">
                    {{'ADD_FRIEND' | translate}}
                </button>
                <app-loading-spinner [forWholeScreen]="false"
                                     *ngIf="team.friendRequestSending"></app-loading-spinner>
                <!-- disabled as no logic yet -->
                <button class="btn btn-primary"
                        [disabled]="true">
                    {{'REQUEST_MATCH' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>