h2, h3{
    font-family: monospace !important;
}
.c-design{
    border: 1px solid lightgray;
    border-radius: 1rem;
    width: 50rem;
    padding: 2rem 4rem;
}

/* .d-flex{
    display: flex;
    flex-direction: column;
} */

.button-container{
    display: flex;
    justify-content: space-evenly;
    padding: 2.2rem 0 2rem 0;
}

button{
    width: 18rem;
}