<div class="row">
    <div class="right-nav">
        <form [formGroup]="form" (ngSubmit)="editMode ? onUpdate() : onCreate()">

            <app-error *ngIf="error" [message]="error"></app-error>

            <div class="row">
                <button *ngIf="!editMode" disabled="form.valid" class="btn btn-success" type="submit">Add</button>
                <button *ngIf="editMode" class="btn btn-success" type="submit">Update</button>
                <button class="btn btn-default" type="button" disabled="form.dirty" (click)="onClear()">Clear</button>
                <button class="btn btn-danger" type="button" routerLink="/players">Cancel</button>
            </div>

            <h3>{{editMode ? "Edit Player" : "Create Player"}}</h3>

            <img *ngIf="form.value.imagePath != null && form.value.imagePath != ''" [src]="form.value.imagePath" />

            <div class="col-xs-9">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" formControlName="age" class="form-control">
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <select type="text" formControlName="position" class="form-control">
                        <option *ngFor="let pos of positionTypes">
                            {{pos}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="club">Club</label>
                    <input type="text" formControlName="club" class="form-control">
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" formControlName="country" class="form-control">
                </div>
                <div class="form-group">
                    <label for="imagePath">Image src</label>
                    <input type="text" formControlName="imagePath" class="form-control">
                </div>
            </div>
        </form>
    </div>
</div>