.outer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0 0 2rem;

}

.c-design {
    border: 1px solid lightgray;
    border-radius: 1rem;
    min-height: 50vh;
    padding: 10rem;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#chkDiscover {
    margin-right: 1rem;
}

.lblValid {
    margin-top: .5rem;
}

fa-icon {
    margin-right: .5rem;
}

@media screen and (max-height: 615px) {
    .c-design {
        padding: 5rem;
    }

    h1 {
        text-align: center;
    }
}

@media screen and (max-height: 485px) {
    .c-design {
        padding: 3rem;
    }
}