h1{
    margin: 15rem 0 2rem;
}
.c-design{
    border: 1px solid lightgray;
    border-radius: 1rem;
    margin-bottom: 20rem;
    height: 50vh;
    padding: 10rem;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}