<div class="flex-row">
    <!-- <div *ngFor="let item of [].constructor(playerCount); let i = index" -->
    <div *ngFor="let player of players">
        <div *ngIf="player" 
            class="player-container pointer"
            (click)="removePlayer(player)"
            [ngClass]="playerToModify ? 'disabled' : 'pointer'">
            <div class="img-container">
                <img [src]="player.imagePath" />
            </div>
            <label>{{player.firstName}} {{player.lastName}}</label>
        </div>
        <div *ngIf="player == null" class="img-container">
            <img [src]="'../../assets/images/jersey.jpg'" />
        </div>
    </div>
</div>