<div class="flex-row">
    <div *ngFor="let player of players">
        <div *ngIf="player" 
            class="player-container pointer"
            (click)="removePlayer(player)"
            [ngClass]="playerToModify ? 'disabled' : 'pointer'">
            <div class="img-container" *ngIf="player.photoUrl">
                <img [src]="player.photoUrl" />
            </div>
            <label>{{player.firstName}} {{player.lastName}}</label>
        </div>
        <div *ngIf="player == null" class="img-container">
            <img [src]="'../../assets/images/jersey.jpg'" />
        </div>
    </div>
</div>