/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
    overflow-y: auto;
}

.container-padding-top{
    padding-top: 9rem;
}

button{
    margin: .2em
}

.pointer{
    cursor: pointer;;
}

.disabled{
    cursor: not-allowed;
}