.team-padding-top{
    padding-top: 6rem;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pitch {
    width: 84rem;
    /* height: 50rem; */
    background-image: url(../../assets/images/pitch2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.form-controls {
    width: 85rem;
    height: 9vh;
    padding: 1em .2em;
    height: 10vh;

    display: -webkit-box;
}

.form-controls-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formation {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.formation-label {
    margin-right: .2em;
    margin-bottom: 0;
    font-size: 1.2em;
}

.formation-select {
    padding: 0.2rem 0.6rem;
}

.buttons {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: auto;
}

.team-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.player-filter-container {
    height: 7rem;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
}

.player-filter {
    padding: 0.2em 0.6em;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-top: 0.5em;
}

.nav-button {
    padding-left: .2em;
}
