<app-modify-selection [defenceCount]="defence.length" [midfieldCount]="midfield.length" [forwardCount]="forwards.length"
    *ngIf="playerToModify"></app-modify-selection>
<app-revert-team *ngIf="revertAction" [action]="revertAction" (closeModal)="toggleRevertModal($event)">
</app-revert-team>
<app-error *ngIf="error" [(message)]="error"></app-error>

<div class="row team-padding-top">
    <mat-grid-list rowHeight="1:1" [cols]="cols" gutterSize="0">
        <mat-grid-tile class="tile" [colspan]="pitchColspan">
            <div class="col-xs-8">
                <div class="img-container">
                    <form [formGroup]="form">
                        <h2 *ngIf="this.playersSelected != 11" class="text-center">{{'SELECT_XI' | translate}}</h2>
                        <div [ngClass]="belowMediumSize ? 'form-controls-sm' : 'form-controls'">
                            <div class="formation" [ngStyle]="{'padding': belowMediumSize ? '1rem' : '2rem'}">
                                <label class="formation-label">{{'FORMATION' | translate}}</label>
                                <select formControlName="formation" name="formation" id="formation"
                                    class="formation-select">
                                    <option *ngFor="let f of formationsList">{{f}}</option>
                                </select>
                            </div>
                            <div class="buttons"
                            [ngStyle]="{'margin-left': belowMediumSize ? '0' : 'auto'}">
                                <button type="submit" [disabled]="!canSave" (click)="save()"
                                    class="btn btn-success">{{'SAVE' | translate}}</button>
                                <button type="button" (click)="toggleRevertModal('Reset')"
                                    class="btn btn-warning">{{'RESET' | translate}}</button>
                                <button type="button" (click)="toggleRevertModal('Cancel')" [disabled]="!teamService.canCancelChanges"
                                    class="btn btn-danger">{{'CANCEL' | translate}}</button>
                            </div>
                        </div>
                    </form>
                    <div class="pitch">
                        <app-formation-row [players]="goalkeeper"></app-formation-row>
                        <app-formation-row [players]="defence"></app-formation-row>
                        <app-formation-row [players]="midfield"></app-formation-row>
                        <app-formation-row [players]="forwards"></app-formation-row>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [ngClass]="cols > 1 ? '' :'bottom-tile-padding'">
            <div class="col-xs-9">
                <div class="player-filter-container">
                    <select name="playerFilter" id="playerFilter" (change)="onFilterPlayerList(filterValue.value)"
                        #filterValue class="player-filter col-xs-6">
                        <option value="">{{'PLACEHOLDE_ALL' | translate}}</option>
                        <option value="{{p}}" *ngFor="let p of positions">{{'PLACEHOLDE_DYNAMIC' | translate:{param: positionService.getPositionName(p)}
                            }}</option>
                    </select>
                </div>

                <app-team-list></app-team-list>

                <div class="button-container">
                    <button type="button" *ngIf="playersPage > 1" (click)="onPageLeft()">
                        <fa-icon [icon]="leftNav"></fa-icon>
                    </button>
                    <button type="button" class="nav-button" (click)="onPageRight()" [disabled]="canPageRight">
                        <fa-icon [icon]="rightNav"></fa-icon>
                    </button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>