<div class="row">
    <div class="col-sm-8">
        <div class="img-container">
            <form [formGroup]="form">
                <div class="form-controls">
                    <div class="formation">
                        <label class="formation-label">Formation</label>
                        <select formControlName="formation" name="formation" id="formation" class="formation-select"
                            (change)="onFormationChange()">
                            <option *ngFor="let f of formationsList">{{f}}</option>
                        </select>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </form>
            <div class="pitch">
                <app-formation-row></app-formation-row>
                <app-formation-row [playerCount]="defenceCount"></app-formation-row>
                <app-formation-row [playerCount]="midfieldCount"></app-formation-row>
                <app-formation-row [playerCount]="forwardCount"></app-formation-row>
            </div>
        </div>
    </div>
    <div class="col-sm-4 team-list">
        <div class="player-filter-container">
            
        <select name="playerFilter" id="playerFilter" (change)="onFilterPlayerList(filterValue.value)" #filterValue
            class="player-filter col-xs-6">
                <option value="">-- All --</option>
                <option value="{{p}}" *ngFor="let p of positions">-- {{p}} --</option>
            </select>
        </div>

        <app-team-list [playerFilter]="playerPositionFilter"></app-team-list>
    </div>
</div>