<app-error *ngIf="error" [(message)]="error"></app-error>

<div class="card" *ngIf="!error">
    <div class="header">
        <h3>{{title}}</h3>
    </div>
    <div class="body">
            <p>{{body}}</p>
    
            <div class="buttons">
                <button type="button" class="btn btn-default" (click)="close('', true)">{{'BACK' | translate}}</button>
                <button type="button" class="btn btn-danger" (click)="confirm()">{{'CONFIRM' | translate}}</button>
            </div>
    </div>
</div>