<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'TEAM_NAME' | translate}}</th>
            <th>{{'RESULT_RATIO' | translate}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams">
            <td><a>{{team.teamName}}</a></td>
            <td> </td>
            <td style="width: 10px;"><div class="btn btn-success">{{'ADD_FRIEND' | translate}}</div> </td>
            <td style="width: 10px;"><div class="btn btn-primary">{{'REQUEST_MATCH' | translate}}</div></td>
        </tr>
    </tbody>
</table>