<table class="table table-striped"
       style="table-layout:fixed;">
    <thead>
        <tr>
            <th>{{'USERNAME' | translate}}</th>
            <th>{{'TEAM_NAME' | translate}}</th>
            <th>{{'RESULT_RATIO' | translate}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams">
            <td>{{team.user.username}}</td>
            <td><a class="pointer"
                   routerLink="../team/{{team.user.id}}">{{team.teamName}}</a></td>
            <td>
                <span class="ratio">W</span>-{{team.wins}}/
                <span class="ratio">L</span>-{{team.losses}}/
                <span class="ratio">D</span>-{{team.draws}}
            </td>
            <td style="width: 5rem;">
                <button *ngIf="!friends && 
                    !team.friendRequestSending &&
                      (!team.friendRequestStatus ||
                    team.friendRequestStatus == FriendRequestStatus.Rejected)"
                        [disabled]="!isTeamDiscoverable"
                        class="btn btn-success"
                        (click)="addFriend(team.user.id)">
                    {{'ADD_FRIEND' | translate}}
                </button>
                <div class="text-center"
                     *ngIf="!team.friendRequestSending && team.friendRequestStatus == FriendRequestStatus.Pending">
                    {{'PENDING' | translate}}
                </div>
                <app-loading-spinner [forWholeScreen]="false"
                                     *ngIf="team.friendRequestSending"></app-loading-spinner>
            </td>
            <td style="width: 5rem;">
                <!-- disabled as no logic yet -->

                <button class="btn btn-primary"
                        [disabled]="true">{{'REQUEST_MATCH' | translate}}</button>
            </td>
        </tr>
    </tbody>
</table>

<app-page-navigation (pageChanged)="onPageChanged($event)"
                     [page]="page"
                     [canPageRight]="canMoveRight"
                     [pageItems]="itemsViewingCount"
                     [totalItems]="totalItems"></app-page-navigation>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>