<!-- <div class="container c-design">
    <div class="row item">
            <label for=""><a>Team Name</a></label>

            <label for="">W:12 L:7 D:9</label>
    </div>
</div> -->

<table class="table table-striped">
    <thead>
        <tr>
            <th>{{'TEAM_NAME' | translate}}</th>
            <th>{{'RESULT_RATIO' | translate}}</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a></a></td>
            <td> </td>
            <td><div class="btn btn-success">{{'ADD_FRIEND' | translate}}</div> </td>
            <td><div class="btn btn-primary">{{'REQUEST_MATCH' | translate}}</div></td>
        </tr>
    </tbody>
</table>